.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.login-left {
  flex: 1;
  background-color: #fdd835; /* Amarillo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.logo-image {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.vc-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.login-right {
  flex: 1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
  max-width: 300px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: white;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
